*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: row;
}
.d-flex {
    display: flex;
    flex-direction: column;
}
.d-row {
    flex-direction: row;
}

.align-center {
    justify-content: center;
    align-items: center;
}

.full-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
img {
    max-height: 400px;
    border-radius: 4px;
}
body {
    margin:40px;
}
* {
    box-sizing: border-box;
}
input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
    box-shadow:0 0 4px rgba(0,0,0,0.3);

}
input:hover {
    border: 1px solid #aaa;
}
